
	* {
		box-sizing: border-box;
		margin:0px;
		padding:0px;

		
	}
	/*properties for Heading section*/
	h1 {
		color: red;
		margin-bottom: 15px;
		margin-top: 25px;
		text-align: center;

	}
	/*properties for section*/
	section{
		width:30%;
		float:left;
		border:2px solid black;
		font-size:16px;
		background-color: grey;
		margin:10px;
		position: relative;
		
		
	}
	/*properties for first paragraph of each section*/
	.p1{
		text-align: center;
		float: right;
		padding: 5px;
		border:2px solid black;
		margin-top: -1px;
		margin-right: -1px;
		margin-bottom:5px;
		
		
	}
	.p2{
		margin-top: 5px;
		clear:right;
		padding:5px;

	}

		/*properties for paragraph*/
		#color1{
			background-color: lightpink;
		}
		#color2{
			background-color: brown;
		}
		#color3{
			background-color: lime;
		}

		/*for desktop view*/
		@media (min-width:992px) {
			section{
				margin-left: 15px;
				margin-right: 15px;
			}
			.container1 {
				width:30%;
				
		}
			.container2 {
			width:30%;
			

		}
			.container3 {
			width:30%;
			
				
		}
				
			}
			/*for tablet view*/
		@media (min-width:768px) and (max-width:991px ) {
				.container1{
					width:48%;
					margin:15px;
					
					padding:10px;
					position: absolute;

					
				}
				.container2{
					width:48%;
					margin:15px;
					float: right;
					padding: 10px;
					position: relative;
					
				}
				.container3{
					width:98.5%;
					margin:15px;
					padding:10px;
				}
				
				
			}

			/*for Mobile view*/
			@media (max-width: 767px) {
			.container1 {
				width:95%;
				margin: 20px;

				
		}
			.container2 {
				width:95%;
				margin:20px;
		
		}
			.container3 {
				width:95%;
				margin:20px;
				
		}
			}
